@import '/src/styles/variables';

.no-data-found {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .search-icon {
    margin-top: 20px;
  }

  .no-data-found__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .result {
      font-size: 48px;
      font-weight: $font-weight-semi-bold;
    }

    .advice {
      font-size: 24px;
      font-weight: $font-weight-medium;
    }
  }
}
