@import '/src/styles/variables';

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  .button {
    height: 90px;
    display: flex;
    align-items: center;
  }

  &-desc {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    max-height: 515px;
    width: 100%;

    &-container {
      min-width: 480px;
    }

    &-title {
      span {
        font-size: 36px;
        font-weight: $font-weight-bold;
      }
    }
  }
}
