@import '/src/styles/variables';

.container {
  max-width: 2520px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  @media screen and (max-width: $breakpoint-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
