/* default colors */
$color-white: #fff;
$color-black-50: #eef3f8;
$color-black-100: #efefef;
$color-black-200: #ddd;
$color-black-300: #b0b0b0;
$color-black-400: #717171;
$color-black-500: #1f3239;
$color-black-600: #222;
$color-red: #ee5353;

/* shadows */
$shadow: 0 10px 10px 0 rgb(0 0 0 / 8%);
$shadow-xs: 0 0 30px rgb(41 38 38 / 20%);

/* fonts */
$font-family: 'Inter', 'georgia', 'times new roman', sans-serif;
$font-size-base: 16px;
$letter-spacing-base: 0;
$line-height-base: 1.5;

/* breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1200px;

/* z-indexes */
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 10;
$z-index-3: 100;
$z-index-4: 1000;
$z-index-5: 10000;

/* font-weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
