@import '/src/styles/variables';

.characters-list {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 40px;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(5, 1fr);
  }
}
