@import '/src/styles/variables';

.card {
  position: relative;
  width: 100%;
  box-shadow: $shadow;
  border-radius: 12px;
  padding: 20px;

  .img-wrapper {
    border-radius: 12px;

    img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1.1;
    }
  }

  &-desc {
    .name {
      font-weight: $font-weight-bold;
    }

    .model {
      color: $color-black-300;
      font-size: 12px;
    }

    .gender {
      font-size: 12px;
      font-weight: $font-weight-bold;

      &-desc {
        font-size: 12px;
        font-weight: $font-weight-regular;
      }
    }
  }
}
