@import '/src/styles/variables';

.header {
  background-color: $color-white;
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.1px solid $color-black-200;
  padding: 10px 40px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: $z-index-4;

  .header__left {
    display: flex;
    align-items: center;

    .header__search {
      padding: 10px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      height: 100%;
      color: $color-black-400;
      background-color: $color-black-50;

      svg {
        color: $color-black-500;
      }

      > input {
        outline: none;
        border: none;
        background: none;
      }
    }
  }
}
