@import '/src/styles/variables';

.header-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: $color-black-400;
  cursor: pointer;

  &:hover {
    color: $color-black-500;
  }

  &__title {
    font-size: 12px;
    font-weight: 400;
  }

  &__icon {
    object-fit: contain;
    height: 25px;
    width: 25px;
  }
}
