@import '/src/styles/variables';

.character-details__container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;

  .character-details__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-titles {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      &-name {
        font-weight: $font-weight-bold;
        font-size: 30px;
      }

      &-model {
        color: $color-black-300;
        font-weight: $font-weight-semi-bold;
        font-size: 20px;
      }
    }

    .card {
      margin-top: 60px;
      box-shadow: $shadow-xs;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
