.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  .buttons {
    height: 90px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .inputs-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    max-height: 515px;
    width: 100%;

    .inputs {
      min-width: 480px;
    }
  }
}
