@import '/src/styles/variables';

.feature {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  &-title {
    span {
      font-size: 22px;
      font-weight: $font-weight-bold;
    }
  }

  &-value {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 8px;

    span {
      font-size: 18px;
      font-weight: $font-weight-bold;
      color: $color-black-400;
    }

    border-bottom: 1px solid $color-black-100;
  }
}
