@import '/src/styles/variables';

.characters-skeleton__wrapper {
  display: grid;
  grid-gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(5, 1fr);
  }

  .character-skeleton {
    position: relative;
    width: 100%;

    &__image {
      span {
        border-radius: 12px;
        aspect-ratio: 1.1;
        line-height: 1.5;
      }
    }

    &__desc {
      .character-desc__first-row {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
